.tasks {
	width: 400px;
	margin: 0 auto;
}

.task {
	border: 1px solid #ddd;
	padding: 10px;
	margin: 10px 0;
	background-color: #f9f9f9;
	border-radius: 5px;
	display: flex;
	justify-content: space-between;
}

.task h2 {
	font-size: 20px;
	margin: 0;
}

.task p {
	margin: 5px 0;
}
